<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        <style>

            body{
                background-image: url("https://bloximages.newyork1.vip.townnews.com/antelopecountynews.com/content/tncms/assets/v3/editorial/f/03/f037d2bc-f836-11e5-9fa9-7b5be2fa432d/56febcf620fd1.image.jpg");
                background-repeat: no-repeat;
                background-size: cover;
            }

        </style>